@model IEnumerable<_68_RecursosHumanos.Models.Funcionario>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAdmissao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dependentes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Endereco)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cidade)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAdmissao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dependentes)
        </td>
        <td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDFuncionario }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDFuncionario }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDFuncionario })
        </td>
    </tr>
}

</table>
