@model _66_Forum.Models.Topico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Topico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Assunto.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Assunto.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resumo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resumo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conteudo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conteudo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataPostagem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataPostagem)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTopico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
